@use "sass:math";
@import './variables';

* {
    @include primary();
    // border: 1px solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ::selection {
        color: $yellow;
        background-color: $black;
    }

    body {
        @include flex($jc: space-between, $fd: column);
        min-height: 100vh;
        background: $white;
        position: relative;
        background: linear-gradient(to bottom, $yellow 281px, $white 281px);
        padding-bottom: 77px;
    }

    // Forms

    .custom-input {
        position: relative;
        max-width: 180px;
        width: 100%;

        .search {
            @include flex(center);
            @include pos-abs();
            left: 10px;
            width: 90px;
            height: 100%;
            width: fit-content;
            width: 19px;
            cursor: pointer;

            svg {
                @include svg-size(80px, 19px);
                pointer-events: none;
            }
        }

        input {
            width: 100%;
            height: 40px;
            border-radius: 100px;
            background: $white;
            padding: 0 20px 0 40px;
            border: none;
            outline: none;
        }
    }

    // Container 
    .container {
        @include flex($jc: center, $fd: column-reverse);
        gap: 32px;
    }

    // Content
    .content {
        &.small * {
            font-size: .875rem;
        }

        &.semi-bold * {
            font-weight: 600;
        }

        &.white * {
            color: $white !important;
        }

        strong {
            font-weight: 600 !important;
        }

        a {
            text-decoration: underline;
        }
    }

    // Button
    .btns {
        @include flex();
        gap: 10px;
    }

    .btn {
        @include btn();
    }

    a {
        display: inline-block;
        height: fit-content;
        width: fit-content;
        text-decoration: none;
    }

    hr {
        border: none;
        height: 1px;
        width: 100%;
        background: $black;
    }

    picture {
        font-size: 0;
        line-height: 0;
        height: fit-content;
        width: fit-content;

        ::selection {
            background: none;
        }
    }

    img, video, iframe {
        width: 100%;
        height: auto;
        display: block;
        border: none;
    }

    svg {
        width: 100%;
        height: auto;
    }
}

@media #{$x-large} {
    * {
        // Container 
        .container {
            flex-direction: row;

            > * {
                width: 50%;
                max-width: 604px;
                padding: 0 !important;
                margin: 0 !important;

                .title {
                    opacity: 1;
                }

                .inner {
                    padding: 0 !important;
                }
            }
        }

        // Content
        .content {
            &.small * {
                font-size: 1rem;
            }

            &.large * {
                font-size: 1.125rem;
            }
        }
    }
}
