@use "sass:math";
@import '../variables';

header {
    @include flex(center, $fd: column);
    gap: 20px;
    position: relative;
    padding: 28px 5vw;

    .logo {
        pointer-events: none;

        img, a {
            @include svg-size(136px, 67px);
            pointer-events: all;
        }
    }

    .actions {
        @include flex(center, space-between);
        gap: 5vw;
        width: 100%;
    }
}

@media #{$medium} {
    header {
        .logo {
            @include flex(center, center);
            @include pos-abs();
            height: 100%;
            width: 100%;
        }
    }
}

@media #{$x-large} {
    header {
        padding: 47px 10vw;
    }
}
